<section id="about">

  <div class="container">
    <div class="row well">
      <div class="col-md-2 results-image-div">
        <img class="results-image" src="/assets/images/giantbomb-logo.jpg" alt="www.giantbomb.com logo" />
      </div>
      <div class="col-md-10 content">
        <p>BrokenClock! is a CRUD (Create, Read, Update, and Delete) application
        created by JavaScript Programmer and Web Developer, Jeffrey Miller. The
        creation of this application was made possible in large part due to the
        video game API created by <a class="giantbomb-link" href="http://www.giantbomb.com/"><span class="giantbomb-link-more">Giant</span><span class="giantbomb-link-details"> Bomb</span></a>.
        Big thanks to those guys. If you like what you see and what to discuss how it was
        made or potential opportunities, please feel free to <a id="email" href="mailto:miller.s.jeffrey@gmail.com">email</a>
        me or connect via <a id="linkedIn" href="https://www.linkedin.com/in/millersjeffrey/">LinkedIn</a>.</p>
        <br />
        <p>The API created by Giant Bomb allows for much more content than just video game titles.
        Information on development firms, publishers, characters, videogame swag, etc. can all be found
        via the API. In the future BrokenClock! will take advantage of this in depth search capability.
        Also in the future this application will allow for user authentication, making the experience
        personalized for each individual.</p>
      </div>
    </div>
  </div>

</section>
