<section id="favorites-list">

  <div class="container">
    <div class="row results well" ng-repeat="game in favorite.favoritesList">
      <div class="col-md-2 results-image-div" ng-switch="game.game_image">
        <p class="no-image" ng-switch-when="null">No<br /> Image<br /> Available</p>
        <img ng-if="game.game_image != null" class="img-thumbnail img-responsive center-block results-image" ng-src="{{ game.game_image }}" alt="{{ game.game_image }}" />
      </div>
      <div class="col-md-10 content">
        <h3 class="game-name">{{ game.title }}</h3>
        <p>{{ game.description }} <span><a class="giantbomb-link" href="{{ game.site_detail_url }}" target="_blank"><span class="giantbomb-link-more">More</span><span class="giantbomb-link-details"> details...</span></a></span></p>
        <p class="release_date"><b>Release Date: </b>{{ game.release_date === null ? "No information available" : game.release_date }}</p>
        <p class="platform-p"><b>Platforms: </b><span class="platform-list" ng-repeat="platforms in game.platforms">{{ platforms }}</span></p>
        <p class="rating-p" ng-if="game.game_rating != null"><b>Rated: </b><span class="rating-list" ng-repeat="ratings in game.game_rating">{{ ratings }}</span></p>
        <p class="comment"><b>Comment: </b>{{ game.favorite_comment }}</p>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-default btn-lg cancel-button" type="button" ng-click="favorite.openEditFavoritesModal(game)">Edit</button>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
