<form ng-submit="api.searchAPI(api.search)">
  <input type="search" ng-model="api.search" />
  <button type="submit">Search</button>
</form>
<section id="results">
  <ul id="resultsList" ng-repeat="game in api.searchResults">
    <li>
      {{ game.name }}
    </li>
    <li>
      {{ game.deck }}
    </li>
    <li>
      {{ game.original_release_date }}
    </li>
    <ol>
      <li ng-repeat="platforms in game.platforms">
          {{ platforms.name }}
      </li>
    </ol>
    <ol>
      <li ng-repeat="ratings in game.original_game_rating">
          {{ ratings.name }}
      </li>
    </ol>
      <img ng-src="{{ game.image.small_url }}" />
    </li>
    <button type="button" ng-controller="favoritesController as favorite" ng-click="favorite.addFavorite(game)">Add to Favorites</button>
    <button type="button" value="game">Add to Wishlist</button>
    <!-- Add ranking system here -->
  </ul>
</section>
