<section class="search">

  <div class="row search-input-row">

<div class="col-xs-8 col-xs-offset-2">
  <form ng-submit="api.searchAPI(api.search, api.location)">
    <div class="input-group">
      <input class="form-control input-lg search-input" type="search" ng-model="api.search" autofocus/>
      <span class="input-group-btn">
            <button class="btn btn-default btn-lg search-button" type="submit">Search</button>
          </span>
    </div>
  </form>
</div>
      <!-- <div class="form-group"> -->
        <!-- The <select> below will be used in future when I implement broader
              search parameters. -->
        <!-- <select name="query-location" ng-model="api.location">
          <option value="game">
            <span>Game Name</span>
          </option>
          <option value="franchise">
            <span>Franchise Name</span>
          </option>
          <option value="character">
            <span>Character Name</span>
          </option>
          <option value="concept">
            <span>Game Concept</span>
          </option>
          <option value="object">
            <span>In Game Objects</span>
          </option>
          <option value="location">
            <span>Location</span>
          </option>
          <option value="person">
            <span>Person</span>
          </option>
          <option value="company">
            <span>Company Name</span>
          </option>
          <option value="video">
            <span>Video</span>
          </option>
        </select> -->
        <!-- <div class="col-md-10 col-md-offset-2 col-sm-10 col-xs-10 search-input-div">
        </div>
        <div class="col-md-2 col-sm-2 col-xs-1 search-button-div">
        </div> -->
    <!-- </div> -->
  </div>

<!-- Search Results -->
  <section id="results_list">
    <div class="container">

      <div class="row results well" ng-repeat="game in api.searchResults">
        <div class="col-md-2 results-image-div" ng-switch="game.image">
          <p class="no-image" ng-switch-when="null">No<br /> Image<br /> Available</p>
          <img class="img-thumbnail img-responsive center-block results-image" ng-src="{{ game.image.small_url }}" />
        </div>
        <div class="col-md-10 content">
          <h3 class="game-name">{{ game.name }} </h3>
          <p>{{ game.deck }} <span><a class="giantbomb-link" target="_blank" href="{{ game.site_detail_url }}"><span class="giantbomb-link-more">More</span><span class="giantbomb-link-details"> details...</span></a> </span></p>
          <p class="release-date"><b>Released:</b> {{ game.original_release_date === null ? "No information available." : game.original_release_date }}</p>
          <p class="platform-p"><b>Platforms: </b> <span class="platform-list" ng-repeat="platforms in game.platforms">{{ platforms.name }} </span></p>
          <p class="rating-p" ng-if="game.original_game_rating != null"><b>Rated: </b> <span class="rating-list" ng-repeat="ratings in game.original_game_rating">{{ ratings.name }} </span></p>
          <p class="col-md-3 center-block add" ng-controller="favoritesController as favorite" ng-click="favorite.openFavoritesModal(game)"><span class="glyphicon glyphicon-plus"></span> Add to Favorites</button>
          <p class="col-md-3 center-block add" ng-controller="WishlistController as wish" ng-click="wish.openWishlistModal(game)"><span class="glyphicon glyphicon-plus"></span> Add to Wishlist</button>
        </div>
      </div>

      <!-- Add ranking system here -->
    </div>

</section>
