<section class="search">

<div class="row search-input-row">

<div class="col-xs-8 col-xs-offset-2">
  <form ng-submit="api.searchAPI(api.search, api.location)">
    <div class="input-group">
      <input class="form-control input-lg search-input" type="search" ng-model="api.search" autofocus/>
        <span class="input-group-btn">
            <button class="btn btn-default btn-lg search-button" type="submit">Search</button>
        </span>
    </div>
<ul class="query-selectors">
  <input type="radio" name="query-item" value="" checked />
  <label class="radio-inline query-item game">Game Name
      </label>
  <input type="radio" name="query-item" value="" />
  <label class="radio-inline query-item franchise">Franchise Name
      </label>
  <input type="radio" name="query-item" value="" />
  <label class="radio-inline query-item character"> Character Name
      </label>
  <input type="radio" name="query-item" value="" />
  <label class="radio-inline query-item concept">Game Concept
      </label>
  <input type="radio" name="query-item" value="" />
  <label class="radio-inline query-item object">Game Object
      </label>
  <input type="radio" name="query-item" value="" />
  <label class="radio-inline query-item location">Location
      </label>
  <input type="radio" name="query-item" value="" />
  <label class="radio-inline query-item person">Person
      </label>
  <input type="radio" name="query-item" value="" />
  <label class="radio-inline query-item company">Company Name
      </label>
  <input type="radio" name="query-item" value="" />
  <label class="radio-inline query-item video">Video</label>
</ul>
  </div>
</div>
  <!-- <div class="row query-selectors-row">
    <div class="col-m-10">
    <ul class="query-selectors">
      <label class="radio-inline query-item game">
        <input type="radio" name="query-item" value="" checked  />Game Name
      </label>
      <label class="radio-inline query-item franchise">
        <input type="radio" name="query-item" value="" /> Franchise Name
      </label>
      <label class="radio-inline query-item character">
        <input type="radio" name="query-item" value="" /> Character Name
      </label>
      <label class="radio-inline query-item concept">
        <input type="radio" name="query-item" value="" /> Game Concept
      </label>
      <label class="radio-inline query-item object">
        <input type="radio" name="query-item" value="" /> Game Object
      </label>
      <label class="radio-inline query-item location">
        <input type="radio" name="query-item" value="" /> Location
      </label>
      <label class="radio-inline query-item person">
        <input type="radio" name="query-item" value="" /> Person
      </label>
      <label class="radio-inline query-item company">
        <input type="radio" name="query-item" value="" /> Company Name
      </label>
      <label class="radio-inline query-item video">
        <input type="radio" name="query-item" value="" /> Video
      </label>
    </ul>
  </div>
  </div> -->
  </form>
</section>

<!-- Search Results -->
  <section id="results_list">
    <div class="container">

      <div class="row results well" ng-repeat="game in api.searchResults">
        <div class="col-md-2 results-image-div" ng-switch="game.image">
          <p class="no-image" ng-switch-when="null">No<br /> Image<br /> Available</p>
          <img class="img-thumbnail img-responsive center-block results-image" ng-src="{{ game.image.small_url }}" />
        </div>
        <div class="col-md-10 content">
          <h3 class="game-name">{{ game.name }} </h3>
          <p>{{ game.deck }} <span><a class="giantbomb-link" target="_blank" href="{{ game.site_detail_url }}"><span class="giantbomb-link-more">More</span><span class="giantbomb-link-details"> details...</span></a> </span></p>
          <p class="release-date"><b>Released:</b> {{ game.original_release_date === null ? "No information available." : game.original_release_date }}</p>
          <p class="platform-p"><b>Platforms: </b> <span class="platform-list" ng-repeat="platforms in game.platforms">{{ platforms.name }} </span></p>
          <p class="rating-p" ng-if="game.original_game_rating != null"><b>Rated: </b> <span class="rating-list" ng-repeat="ratings in game.original_game_rating">{{ ratings.name }} </span></p>
          <p class="col-md-3 center-block add" ng-controller="favoritesController as favorite" ng-click="favorite.openFavoritesModal(game)"><span class="glyphicon glyphicon-plus"></span> Add to Favorites</button>
          <p class="col-md-3 center-block add" ng-controller="WishlistController as wish" ng-click="wish.openWishlistModal(game)"><span class="glyphicon glyphicon-plus"></span> Add to Wishlist</button>
        </div>
      </div>

      <!-- Add ranking system here -->
    </div>

</section>
