<h3>Your Wishlist</h3>
<section id="wishlist">
  <ul class="wishes" ng-repeat="game in wish.wishlistItems">
    <li>
      {{ game.title }}
    </li>
    <li>
      <p>{{ game.description }} <span><a href="{{ game.site_detail_url }}" target="_blank">More details...</a></span></p>
    </li>
    <li>
      {{ game.platforms }}
    </li>
    <li>
      <img ng-src="{{ game.game_image }}" alt="{{ game.title }} image" />
    </li>
      <button type="button" ng-click="wish.openRemoveWishlistModal(game)">Remove</button>
  </ul>
</section>
