img.search-image {
  width: 100%;
}

/*----------------------------------------------------------------------
Search
-----------------------------------------------------------------------*/

/*search input*/

#controller {
  opacity: 0.7;
  position: absolute;
  top: 50px;
  width: 100%;
}

.search-input {
  border-radius: 0;
  height: 80px;
}

.search-input-div {
  padding-right: 0;
}

.search-button {
  border-bottom-left-radius: 0;
  border-left: none;
  border-top-left-radius: 0;
  height: 80px;
}

.search-button-div {
  padding-left: 0;
}

.image-banner {
  opacity: 0.7;
  width: 100%;
}

/*search results*/

.search-results {
  padding-top: 10px;
}

.search-image-div {
  padding-left: 0;
}
