/*----------------------------------------------------------------------
Colors
-----------------------------------------------------------------------*/
/*Fonts and Borders*/ #292929
/*Hover Font*/ #7C342F


/*----------------------------------------------------------------------
Global
-----------------------------------------------------------------------*/
body {
  font-family: 'Ek Mukta', sans-serif;
}

a {
  color: #292929;
}

a:hover, a:active, a:focus {
  color: #7C342F;
  transition: 0.5s;
}

input[type=search] {
  border-color: #292929;
}

.btn {
  border-color: #292929;
}


/*----------------------------------------------------------------------
Navigation
-----------------------------------------------------------------------*/
.nav-default {
  border-bottom: 1px solid #292929;
}

.navbar-brand {
  font-family: 'Bowlby One SC', cursive;
}

li > a {
  font-weight: 700;
}

/*----------------------------------------------------------------------
Search
-----------------------------------------------------------------------*/

/*search input*/

/*#controller {
  opacity: 0.7;
  position: absolute;
  top: 50px;
  width: 100%;
}*/

.search-input {
  border-radius: 0;
  font-size: 50px;
  font-weight: 700;
  height: 80px;
}

.search-input-div {
  padding-right: 0;
}

.search-button {
  border-bottom-left-radius: 0;
  border-left: none;
  border-top-left-radius: 0;
  height: 80px;
}

.search-button-div {
  padding-left: 0;
}

.image-banner {
  opacity: 0.7;
  width: 100%;
}

/*search results*/

.search-results {
  padding-top: 10px;
}

.search-image-div {
  padding-left: 0;
}
