/*----------------------------------------------------------------------
Colors
-----------------------------------------------------------------------*/
/*Fonts and Borders*/ #292929
/*Hover Font*/ #ffb300, #288a44


/*----------------------------------------------------------------------
Global
-----------------------------------------------------------------------*/
body {
  font-family: 'Ek Mukta', sans-serif;
}

a {
  color: #292929;
}

/*a > span:hover, a > span:active, a > span:focus {
  transition: 0.5s;
}*/

.banner-logo {
  transition: 0.5s;
}

input[type=search], .btn {
  border: 1px solid #292929;
}

input[type=search]:hover,
input[type=search]:active,
input[type=search]:focus,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: #fff;
  border-color: #de9e0e;
  box-shadow: inset 0 0 8px rgba(222, 158, 14, 0.6);
}


/*----------------------------------------------------------------------
Navigation
-----------------------------------------------------------------------*/
.navbar {
  margin-bottom: 0;
}
.nav-default {
  border-bottom: 1px solid #292929;
  /*position: fixed;*/
}

.navbar-brand {
  font-family: 'Bowlby One SC', cursive;
}

#banner-logo-broken:hover,
#banner-logo-broken:active,
#banner-logo-broken:focus {
  color: #de9e0e;
}

#banner-logo-clock:hover,
#banner-logo-clock:active,
#banner-logo-clock:focus {
  color: #288a44;
  /*transition: 0.5s;*/
}

li > a {
  font-weight: 700;
}

/*----------------------------------------------------------------------
Search
-----------------------------------------------------------------------*/

/*search input*/

#controller {
  height: 100%;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  z-index: -1;
}

.search-input {
  border-radius: 0;
  font-size: 50px;
  font-weight: 700;
  height: 80px;
  margin-bottom: 150px;
}

.search-input-div {
  padding-right: 0;
}

.search-button {
  border-bottom-left-radius: 0;
  border-left: none;
  border-top-left-radius: 0;
  height: 80px;
}

.search-button-div {
  padding-left: 0;
}

.image-banner {
  opacity: 0.7;
  width: 100%;
}

/*search results*/

.search-results {
  padding-top: 10px;
}

.search-image-div {
  padding-left: 0;
}

.search-image {
  width: 100%;
}

.well {
  background-color: rgba(255, 255, 255, 0.95);
}
